/* https://piccalil.li/blog/a-modern-css-reset */
/* General css */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
:root {
  --ff-sans: "Montserrat", sans-serif;
  --ff-serif: "Fraunces", serif;
  --clr-primary: hsl(158, 36%, 37%);
  --clr-primary-darker: hsl(159, 36%, 18%);
  --clr-background: hsl(30, 38%, 92%);
  --clr-dark: hsl(212, 21%, 14%);
  --clr-gray: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);
  --spacing-primary: 1.2rem;
  --spacing-double-primary: 2.4rem;
  --fs-l: 3.3rem;
  --fs-m: 1.44rem;
  --fs-s: 1.3rem;
}
/* - Mobile: 375px
- Desktop: 1440px */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
}
/* Set core body defaults */

body {
  font-family: var(--ff-sans);
  text-rendering: optimizeSpeed;
  font-size: var(--fs-m);
  background-color: var(--clr-background);
  line-height: 1.6;
  color: var(--clr-gray);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
ul {
  list-style: none;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* phone  */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
}
.grid-cols {
  grid-template-columns: 1fr;
}
.container {
  max-width: 34rem;
  margin: 0 auto;
}
/*
font-size-scale-px: 0.694 / 0.833 / 1 / 1.2 / 1.44 / 1.728 /  2.074 / 2.488 / 2.986 / 3.583 / 4.3 / 5.16 /  6.192 /  7.43 / 
8.916
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* card */
.card {
  margin: var(--spacing-double-primary) 0;
  background-color: var(--clr-white);
  border-radius: 1rem;
}
.card-img img {
  border-radius: 1rem 1rem 0 0;
}
.card-content {
  width: 87.1%;
  row-gap: var(--spacing-primary);
  margin: 0 auto;
}

.primary-heading {
  font-family: var(--ff-serif);
  font-size: var(--fs-l);
  color: var(--clr-dark);

  letter-spacing: -0.5px;
  line-height: 1;
  font-weight: 700;
}
.sub-heading {
  font-size: var(--fs-s);
  margin-top: var(--spacing-double-primary);
  letter-spacing: 0.4rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.card-description {
  font-size: 1.4rem;
  font-weight: 500;

  margin: 0.4rem 0;
}
.price {
  gap: var(--spacing-double-primary);
  margin: var(--spacing-primary) 0;
  justify-content: flex-start;
}
.card-curr-price {
  font-family: var(--ff-serif);
  font-size: var(--fs-l);
  color: var(--clr-primary);
  line-height: 1;
}
.card-prev-price {
  font-size: var(--fs-s);

  text-decoration: line-through;
}
.btn {
  font-size: var(--fs-s);
  gap: var(--spacing-primary);
  color: var(--clr-white);
  background-color: var(--clr-primary);
  width: 100%;
  padding: calc(var(--spacing-primary) + 0.2rem) 0;
  border-radius: 1rem;
  margin-bottom: var(--spacing-double-primary);
}
.btn button {
  color: inherit;
  background-color: inherit;
  border: none;
}
.btn:active {
  background-color: var(--clr-primary-darker);
}
/* desktop */
@media only screen and (min-width: 90em) {
  .container {
    max-width: 60rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-self: center;
  }
  .card-content {
    width: 80.6%;
  }
  .grid-cols {
    grid-template-columns: 1fr 1fr;
  }
  .card-img img {
    border-radius: 1rem 0 0 1rem;
  }
}
